<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>文件下载</title>
</head>
<body class="text-center">

<input id="submit" type="button" value="下载" onclick="download()">

</body>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" inline="javascript">
    /*<![CDATA[*/

    function download(){
        window.location.href = "ioStream/downloadFile"

    }
    /*]]>*/

</script>

</html>